# This action will create a GitHub release as soon as a
# tag that starts with "v" is created. It will read the
# content of the file LATEST.md and append it to the
# release notes. This file is re-created each time a new
# release is done:
#
# npm run release
#   -> npm run changelog
#   -> delete LATEST.md
#   -> create LATEST.md from previous tag to current tag
#
# See configuration/latest for more information.
#
name: "Create Release"

on:
  push:
    tags:
      - "v*"
jobs:
  release_version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body_path: ./LATEST.md
          draft: false
          prerelease: false
